<div class="col-md-6 col-lg-7 col-xl-8">
    <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
        <IncomingMessage>
        </IncomingMessage>
        <Message>
        </Message>
    </div>
    <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
        <MessageInput>
        </MessageInput>
    </div>

</div>