<div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
    <div class="p-3">
        <div data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
            <ul class="list-unstyled mb-0">
                <li class="p-2 border-bottom">
                    <a href="#!" class="d-flex justify-content-between">
                        <ChatLookInList></ChatLookInList>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>